<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>

    <h1>Meu nome é {{ nome }} </h1>
    <h2>Minha idade é {{ 1+ getIdade() }} </h2>

    <br>

    <div class="alert alert-success" role="alert">
      Funcionário adicionado: <strong> {{ nome }} </strong>
    </div>

    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" (input) = "alterarNome($event)" >
      </div>
    </form>

    <button type="button" class="btn btn-primary" (click)="adicionar()" >Adicionar</button>

    <br>
    <br>
    <h1>Usando variáveis de referência</h1>

    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" class="form-control" #nomeInput >
      </div>
    </form>

    <button type="button" class="btn btn-primary" (click)="adicionar2(nomeInput.value)"  >Adicionar</button>

    <br>
    <br>
    <h1>Usando property binding</h1>
    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" (input) = "nome2 = $event.target.value" >
      </div>
    </form>

    <button type="button" class="btn btn-primary" (click)="adicionar2(nomeInput.value)" [disabled]="getNome2().length == 0" >Adicionar</button>
    
    <br>
    <br>
    <h1>two-way data binding</h1>
    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" class="form-control"
               [(ngModel)]="nome2" name="name2">
      </div>
    </form>

    <button type="button" class="btn btn-primary" (click)="adicionar2(nomeInput.value)" [disabled]="nome2.length == 0" >Adicionar</button>
    
    <br>
    <br>
    <h1>Exibindo condicionalmente com as diretivas ngIf e hidden</h1>
    <div class="alert alert-success" role="alert" *ngIf="getAdicionado()">
      Funcionário adicionado: <strong> {{ nome }} </strong>
    </div>

    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" (input) = "setAdicionado(false)" class="form-control" >
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="adicionar3()" >Adicionar</button>

    
    <br>
    <br>
    <h1>Iterando com a diretiva ngFor</h1>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-2" *ngFor="let funcionario of funcionarios" style="padding-top: 20px;">
        <div class="card" >
          <img src="https://randomuser.me/api/portraits/women/{{funcionario.id}}.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>{{ funcionario.nome }}</h4>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" [(ngModel)]="nome3" name="nome3" class="form-control"  >
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="adicionar4()" [disabled]="nome3.length < 3" >Adicionar</button>


    <br>
    <br>
    <h1>Binding de propriedades customizadas com @Input</h1>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-2" *ngFor="let funcionario of funcionarios2" style="padding-top: 20px;">
        <app-funcionario-card [obj]="funcionario" ></app-funcionario-card>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label >Nome:</label>
        <input type="text" placeholder="Example input placeholder" [(ngModel)]="nome4" name="nome4" class="form-control"  >
      </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="adicionar5()" [disabled]="nome4.length < 3" >Adicionar</button>
    
    
    <br>
    <br>
    <h1>9.15 Binding de eventos customizados com @Output e EventEmitter</h1>
    <app-funcionario-form02 (criado)="aoAdicionar($event)" ></app-funcionario-form02>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-2" *ngFor="let funcionario of funcionarios3" style="padding-top: 20px;">
        <app-funcionario-card [obj]="funcionario" ></app-funcionario-card>
      </div>
    </div>
    



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>